<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.LinkManDao">
    <resultMap id="BaseResultMap" type="com.shsxt.crm.vo.LinkMan">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cus_id" property="cusId" jdbcType="INTEGER"/>
        <result column="link_name" property="linkName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="zhiwei" property="zhiwei" jdbcType="VARCHAR"/>
        <result column="office_phone" property="officePhone" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, cus_id, link_name, sex, zhiwei, office_phone, phone, is_valid, create_date, update_date
  </sql>

    <select id="query" resultMap="BaseResultMap" parameterType="linkManQuery">
        select
        <include refid="Base_Column_List"/>
        from t_customer_linkman
        <where>
            cus_id = #{cusId,jdbcType=INTEGER} AND is_valid = 1
            <if test=" linkName != null and linkName != '' ">
                AND link_name LIKE concat('%',linkName,'%')
            </if>
            <if test=" officePhone !=null and officePhone != '' ">
                AND office_phone LIKE concat('%',officePhone,'%')
            </if>
            <if test=" phone !=null and phone != '' ">
                AND phone LIKE concat('%',phone,'%')
            </if>
        </where>
    </select>


    <update id="delete">
    UPDATE t_customer_linkman
        SET is_valid = 0 and update_date = sysdate()
        where id IN
        <foreach collection="array" item="id" open="(" separator="," close=")" >
            #{id }
        </foreach>
  </update>

    <insert id="insert" parameterType="com.shsxt.crm.vo.LinkMan">
        insert into t_customer_linkman
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cusId != null">
                cus_id,
            </if>
            <if test="linkName != null">
                link_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="zhiwei != null">
                zhiwei,
            </if>
            <if test="officePhone != null">
                office_phone,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cusId != null">
                #{cusId,jdbcType=INTEGER},
            </if>
            <if test="linkName != null">
                #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="zhiwei != null">
                #{zhiwei,jdbcType=VARCHAR},
            </if>
            <if test="officePhone != null">
                #{officePhone,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.shsxt.crm.vo.LinkMan">
        update t_customer_linkman
        <set>
            <if test="cusId != null">
                cus_id = #{cusId,jdbcType=INTEGER},
            </if>
            <if test="linkName != null">
                link_name = #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="zhiwei != null">
                zhiwei = #{zhiwei,jdbcType=VARCHAR},
            </if>
            <if test="officePhone != null">
                office_phone = #{officePhone,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>